<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="OauthLogin"
    version="0.0.1">

    <name>OAuthLogin</name>
    <description>Pops up a new WebView to operate with oauth providers. Smart hide on redirects and timeouts. </description>
    <author>Oscar Brito</author>
    <keywords>login, oauth, twitter, facebook</keywords>

    <engines>
        <engine name="cordova" version=">=2.2.0" />
    </engines>


    <!-- assets to be copied -->
    <asset src="www/OAuthLoginPlugin.js" target="plugins/OAuthLoginPlugin.js" />

    <!-- 
      android platform
      -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="plugins">
            <plugin name="OAuthLoginPlugin" value="com.custom.oauthlogin.OAuthLoginRequestPlugin"/>
        </config-file>

        <source-file src="src/android/com/custom/oauthlogin/IBrowserDialogControlListener.java" target-dir="src/com/custom/oauthlogin/" /> 
        <source-file src="src/android/com/custom/oauthlogin/OAuthBrowserDialogControl.java" target-dir="src/com/custom/oauthlogin/" /> 
        <source-file src="src/android/com/custom/oauthlogin/OAuthLoginRequestPlugin.java" target-dir="src/com/custom/oauthlogin/" /> 
        <source-file src="src/android/com/custom/oauthlogin/OAuthWebView.java" target-dir="src/com/custom/oauthlogin/" /> 
        <source-file src="src/android/com/custom/oauthlogin/UrlHelper.java" target-dir="src/com/custom/oauthlogin/" /> 

    </platform>

</plugin>