<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="DatePicker"
    version="0.0.0">

    <name>DatePicker</name>
    <description>DatePicker Plugin</description>
    <author>Oscar Brito</author>
    <keywords>date, datepicker</keywords>

    <engines>
        <engine name="cordova" version=">=2.2.0" />
    </engines>


    <!-- assets to be copied -->
    <js-module src="www/DatePickerPlugin.js" name="cordova">
    </js-module>

    <!-- 
      android platform
      -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DatePickerPlugin" >
              <param name="android-package" value="plugins.DatePicker.DatePickerPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/plugins/DatePicker/DatePickerPlugin.java" target-dir="src/plugins/DatePicker/" /> 
        <source-file src="src/android/plugins/DatePicker/DateSetListener.java" target-dir="src/plugins/DatePicker/" /> 
        <source-file src="src/android/plugins/DatePicker/TimeSetListener.java" target-dir="src/plugins/DatePicker/" /> 
        
    </platform>

</plugin>