<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="DatePicker"
    version="0.0.0">

    <name>DatePicker</name>
    <description>DatePicker Plugin</description>
    <author>Oscar Brito</author>
    <keywords>date, datepicker</keywords>

    <engines>
        <engine name="cordova" version=">=2.2.0" />
    </engines>


    <!-- assets to be copied -->
    <asset src="www/DatePickerPlugin.js" target="plugins/DatePickerPlugin.js" />

    <!-- 
      android platform
      -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="plugins">
            <plugin name="DatePickerPlugin" value="com.custom.DatePicker.DatePickerPlugin"/>
        </config-file>

        <source-file src="src/android/com/custom/DatePicker/DatePickerPlugin.java" target-dir="src/com/custom/DatePicker/" /> 
        <source-file src="src/android/com/custom/DatePicker/DateSetListener.java" target-dir="src/com/custom/DatePicker/" /> 
        <source-file src="src/android/com/custom/DatePicker/TimeSetListener.java" target-dir="src/com/custom/DatePicker/" /> 
        
    </platform>

</plugin>