<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="Keyboard"
    version="0.0.1">

    <name>Keyboard</name>
    <description>Manages the onscreen keyboard</description>
    <author>Oscar Brito - @aetheon</author>
    <keywords>keyboardPlugin</keywords>

    <engines>
        <engine name="cordova" version=">=2.2.0" />
    </engines>

    <asset src="www/KeyboardPlugin.js" target="plugins/KeyboardPlugin.js" />

    <!-- 
      android 
      -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="plugins">
            <plugin name="Keyboardlugin" value="plugins.Keyboard.KeyboardPlugin"/>
        </config-file>

        <source-file src="src/android/plugins/Keyboard/KeyboardPlugin.java" target-dir="src/plugins/Keyboard/" /> 

    </platform>

</plugin>