<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="Share"
    version="0.0.1">

    <name>Share</name>
    <description>Share Plugin</description>
    <author>Oscar Brito</author>
    <keywords>Share</keywords>

    <engines>
        <engine name="cordova" version=">=2.2.0" />
    </engines>

    <js-module src="www/SharePlugin.js" name="plugin"></js-module>

    <!-- android platform -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SharePlugin" >
              <param name="android-package" value="plugins.SharePlugin.SharePlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/plugins/SharePlugin/SharePlugin.java" target-dir="src/plugins/SharePlugin/" /> 

    </platform>

</plugin>