<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="PLUGIN_NAME"
    version="0.0.1">

    <name>PLUGIN_NAME</name>
    <description></description>
    <author></author>
    <keywords></keywords>

    <engines>
        <engine name="cordova" version=">=2.2.0" />
    </engines>

    <js-module src="www/PLUGIN_NAME.js" name="plugin"></js-module>

    <!-- 
      android platform
      -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PLUGIN_NAME" >
              <param name="android-package" value="plugins.PLUGIN_PACKAGE.PLUGIN_CLASS"/>
            </feature>
        </config-file>

        <source-file src="src/android/plugins/PLUGIN_PACKAGE/PLUGIN_CLASS.java" target-dir="src/plugins/PLUGIN_NAME/" /> 

    </platform>

</plugin>