<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="OAuthLogin"
    version="0.0.1">

    <name>OAuthLogin</name>
    <description>Pops up a new WebView to operate with oauth providers. Smart hide on redirects and timeouts. </description>
    <author>Oscar Brito</author>
    <keywords>login, oauth, twitter, facebook</keywords>

    <engines>
        <engine name="cordova" version=">=2.2.0" />
    </engines>


    <!-- assets to be copied -->
    <js-module src="www/OAuthLoginPlugin.js" name="cordova">
    </js-module>

    <!-- 
      android platform
      -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="OAuthLoginPlugin" >
              <param name="android-package" value="plugins.OAuthLogin.OAuthLoginPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/plugins/OAuthLogin/IBrowserDialogControlListener.java" target-dir="src/plugins/OAuthLogin/" /> 
        <source-file src="src/android/plugins/OAuthLogin/OAuthBrowserDialogControl.java" target-dir="src/plugins/OAuthLogin/" /> 
        <source-file src="src/android/plugins/OAuthLogin/OAuthLoginPlugin.java" target-dir="src/plugins/OAuthLogin/" /> 
        <source-file src="src/android/plugins/OAuthLogin/OAuthWebView.java" target-dir="src/plugins/OAuthLogin/" /> 
        <source-file src="src/android/plugins/OAuthLogin/UrlHelper.java" target-dir="src/plugins/OAuthLogin/" /> 
        <source-file src="src/android/plugins/OAuthLogin/Cookie.java" target-dir="src/plugins/OAuthLogin/" /> 

    </platform>

</plugin>